
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
.card {
    height: 400px;
    margin-bottom: 20px;
}
.card-img-top {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    margin: auto;
}
.card-text {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.card-title {
    font-size: 18px;
    color: #666;
}
.card-price {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.btn-primary {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}